* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f3f9;
    color: #333333;
}


.navbar {
    background-color: #a0a2f6;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center;
    padding: 12px 90px;
    gap: 15px; 
}

.logo {
    color: #ffffff;
    font-size: 24px;
    margin-left: 40px;
}

.busqueda {
    width: 450px;
    padding: 8px 18px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
}

.btn-logo {
    background-color: #6361da;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}


.container {
    max-width: 1150px;
    margin: 30px auto;
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 30px;
}


.publicacion-columna {
    flex: 1.5; 
    min-width: 300px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.columna-lateral{
    flex: 1; 
    min-width: 250px;
}


.tarjeta {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.tarjeta h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.meta {
    font-size: 18px;
    color: #444444;
    margin-bottom: 4px;
}

.content {
    margin: 15px 0;
    font-size: 18px;
}


.btn-like {
    background-color: #ff6b6b;
    color: #ffffff;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}


.tarjeta-bienvenido{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.tarjeta-bienvenido h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.tarjeta-bienvenido p {
    font-size: 16px;
    color: #555555;
    margin-bottom: 15px;
}

.btn-perfil {
    background-color: #00d2c8;
    color: #ffffff;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}