* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Impact', sans-serif;
    color: #fff;
}

/* Barra de navegación */
.navbar {
    background-color: #c51162;
    padding: 15px 40px;
    /* Flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    /* Flexbox */
    display: flex;
    align-items: center;
    transform: transform 0.3s ease, margin-left 1s ease; /*tiempo y efecto*/
}

.logo a:hover{
    transform: scale(1.2); /*Aumenta escala*/
    margin-left: 10px;
}
/* Icono logo */
.logo i {
    margin-right: 8px;
    font-size: 28px;
    color: #fff;
}

/* Navegación */
.nav-links {
    /* Flex */
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 5px;
    transform: transform 0.3s ease;
}

/* Efecto hover */
.nav-links a:hover {
    background-color: #fff;
    color: #a50909;
    transform: scale(1.2); /*.1 añade 10% en tamaño*/
}