* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Barra */

.header {
    background-color: #3F3F3F;
    padding: 13px;
}

.header-nav {
    display: flex;
    justify-content: center;
    color: white;
}

/*tarjeta izquieda perfil*/

.main {}

.tarjeta-perfil {}

.boton-perfil {}


/*tarjeta derecha*/

.derecha {}

.caja {}

.descripcion-caja {}