* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #fffcfc;
    font-size: 18px;
}

.header {
    background-color: #3F3F3F;
    padding: 20px 0;
}

.header-nav {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
}

.main {
    display: flex;
    justify-content: center;
    max-width: 1100px; 
    margin: 30px 0 30px 80px;
    padding: 0 20px;
    gap: 50px;
}

.tarjeta-perfil {
    border: solid 2px rgb(201, 195, 195);
    border-radius: 15px;
    background-color: #fffcfc;
    padding: 30px 20px 20px 20px;
    width: 280px; 
    height:270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 60px;
}

.tarjeta-perfil img {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: solid 1px gray;
}

.tarjeta-perfil h2 {
    font-size: 25px;
    color: #333;
}

.boton-perfil {
    background-color: #2B9DC0;
    padding: 6px 12px;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    width: 130px;
}

.derecha {
    flex: 1;
}

.derecha h2 {
    font-size: 40px;
    color: #333;
    margin-bottom: 15px;
}

.caja {
    border: solid 2px rgb(201, 195, 195);
    border-radius: 10px;
    padding: 14px;
    background-color: rgb(243, 240, 240);
    margin-bottom: 20px;
    width: 690px;
}

.descripcion-caja p {
    margin-top: 10px;
    color: #444;
    font-size: 19px;
}

.descripcion-caja a {
    color: #2b6cc0;
    font-weight: bold;
}

.descripcion-caja a:hover {
    font-weight: bold; 
}

.encabezado-publicacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.encabezado-publicacion h2 {
    font-size: 27px;
    margin: 0;
}

.contenedor-likes {
    display: flex;
    align-items: center;
    gap: 12px;
}

.contenedor-likes p {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
}

.descripcion-boton {
    background-color: #FFD06B;
    border: 1px solid #e0b040;
    padding: 7px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.descripcion-boton:hover {
    background-color: #f7c452;
}