*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.contenedor {
    text-align: center;
}

.body{
    padding: 20px;
    background-color:#DBD9D9 ;
}

.titulo{
    background-color: #208614;
    color:white;
    padding-top:30px;
    text-align: center;
    height: 100px;
}

.contenedor{
    padding: 100px 0px;
    background-color:#E31D12 ;
    margin: 0px 40px 10px 450px;
    margin-top: 30px;

}
.box{
    width: 32%;
    display: inline-block;
    height: 200px;
    background-color:#FEF305;
    margin: 10px 10px;
    padding: 20px;
    
}
.boton{
    color:#801C84;
    margin:auto ;
    display: block;
    margin-bottom: 9px; 
    width: 10%;
    height: 40px;
    border-radius: 10px;
}