* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ECF0F1;
}

.main {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.nav {
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
}

.Nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    padding: 8px 12px;
    border-radius: 5px;
}

.btn-nav {
    background-color: #3498DB;
    color: white;
    padding: 10px;
    border-radius: 6px;
    margin: 5px;
    font-size: 25px;
}

.header {
    background-color: #2C3E50;
}

.superior-tarjeta {
    background-color: #3498DB;
    height: 130px;
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border-radius: 15px 15px 0px 0px;
}

.descripcion-tarjeta {
    text-align: center;
    display: flex;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    padding: 100px;
    box-shadow: 0px 0px 8px rgb(170, 170, 170);
    flex-direction: column;
    gap: 15px;
    margin-left: 80px;
    color: black;
    position: relative;
}

.usuario {
    position: absolute;
    top: -100px;
    left: 270px;
}

.usuario img {
    height: 200px;
}

.descripcion {
    color: rgb(170, 170, 170);
}

.descripcion-link {
    font-size: 24px;
}

.parrafo{
    font-size: 20px;
}
.columna-izquierda {
    display: flex;
    flex-direction: column;
    flex: 3.4;
    padding: 100px;
}



.columna-derecha {
    margin: 110px 60px 0 0;
    display: flex;
    flex-direction: column;
    flex: 2.5;
}

.tarjeta-solicitudes {
    display: flex;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 8px rgb(136, 134, 134);
    flex-direction: column;
    margin: 20px 26px;
    color: rgb(61, 61, 61);
    position: relative;
    font-size: 25px;
}

.tarjeta-solicitudes button {
    border-radius: 5px;
    border: solid #90C7EB;
    padding: 10px 20px;
    color: #90C7EB;
    background-color: white;
    font-size: 20px;
}

.tarjeta-solicitudes img {
    height: 80px;
}

.tarjeta {
    width: 530px;
    display: flex;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    padding: 20px;
    box-shadow: 0px 0px 8px rgb(170, 170, 170);
    flex-direction: column;
    margin: 30px;
    color: black;
    position: relative;
    margin-top: 20px;
}

.h2 {
    font-size: 35px;
    color: rgb(56, 56, 56)
}

.tarjeta button {
    border-radius: 5px;
    border: solid #90C7EB;
    padding: 10px 20px;
    color: #90C7EB;
    background-color: white;
    font-size: 20px;
}

.caja1 {
    border: 2px solid red;
}

.contenido {
    align-items: center;
}

.contenido img {
    height: 80px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-contacto {
    display: flex;
    align-items: center;
    justify-content: 20px;
}

.row-contacto p {
    font-size: 20px;
}

.row-botones {
    position: flex;
    display: flex;
    align-items: center;
    gap: 15px;

}

.delete {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 12px;
}

.row-boton {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-row {}