*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.parrafo1{
    padding-top: 5px ;
    font-size:19px;
}
/*HEADER*/
.header{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #173353;
    color:white;
    text-align: center;
}

/*MAIN*/
.contenedor_principal{
    box-shadow:2px 5px  5px rgb(214, 211, 211);
    border-radius:10px ;
    padding: 30px ;
    margin: 10px 90px 0px 90px;
    margin-top: 30px;
    background-color: white;
    width: 92%;
}

.texto{
    height: 160px;
    background-color: #E67E22;
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

.parrafo2{
    padding: 7px;
    font-size: 25px;
}
.contenedor_tarjeta{
    display: flex;
    width:100%;
    text-align: center;

}

.box{
    width: 100%;
    height: 200px;
    background-color:#D35400;
    color:white;
    margin: 28px 8px;
    padding: 20px;
    border-radius: 10px;
}

.tit{
    margin: 5px;
    padding: 15px;
}

.body{
    background-color:#FDF6EC;
}