* {
padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.contenedor {
    text-align: center;
}

.tarjeta {
    display: inline-block;
    width: 150px;
    height: 100px;
    background-color: lightseagreen;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
/*-------------------------------------------------------------*/
/*----------------------Sitio Index----------------------------*/
/*-------------------------------------------------------------*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/
.header{
    background-color: #173353;
    color:white;
    padding-top:20px;
    text-align: center;
}

.menu{
    margin-top: 30px;
    background-color: #204875;
}

.boton{
    display: inline-block;
    color: white;
    text-decoration: none;/*quita subrayado*/
    padding: 20px 20px;
    margin: 5px;
    border-radius: 5px;
}

.botor:hover{
    background-color: #969191;
}
/*MAIN*/
.contenedor_principal{
    padding: 55px 60px;
    
}

.contenedor_tarjeta{
    text-align: center;
    padding: 40px;
    
}

.box{
    display: inline-block;
    width:250px;
    height: 150px;
    background-color:#00A4DE;
    color:white;
    margin: 10px;
    padding: 20px;
    border-radius: 6px;
}

.bloque{
    display: block; 
    background-color: rgb(139, 139, 211);
    color: white;
    margin: 10px;
    padding: 15px;
}

.texto{
    background-color: #204875;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 6px;
}
