.container {
    display: flex;
    /* Activa flexbox en este contenedor */
    justify-content: center;
    /*Alinear  Horizontalmente*/
    background-color: #f0f0f0;
    padding: 20px;
    flex-wrap: wrap;
    /*Baja elementos que no caben en la pantalla*/
}

.item {
    background-color: #00ade5;
    color: #fff;
    margin: 20px;
    padding: 20px;
}

.row {
    flex-direction: row;
    /*Dirreccion en fila*/
}

.column {
    flex-direction: column;
    /*Dirreccion en colunma*/
}

.start {
    justify-content: flex-start;
    /*Alinear a la izquierda*/
}

.center {
    justify-content: center;
    /*Centrar elementos*/
}

.space-between {
    justify-content: space-between;
    /*Distribucion de elememtos perfectos*/
}

/*Ejemplo Skillnest*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.contenedor {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;

    /* Propiedades flexbox */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.elemento {
    margin: 10px;
    background-color: #00ade5;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}